.form-control {
	font-size:13px;	
}
.default_color {
	color:	#333;
}
.nopadding
{
	padding:0;
}
td.nopadding
{
	padding:0;
}

.nomargin
{
	margin:0;
}

.lablefields
{
	
	color:#707070;	
}

.margintop
{
	margin-top:-3px;
}
ul.drugform {
	list-style: none;
}
ul.drugform li {
	margin-bottom: 15px;
	font-weight: bold;
}
ul.custombreadcrumb {
	list-style: none;
}
ul.custombreadcrumb li {
	float: left;
	margin-right: 15px;
	position: relative;
}
.normaltd {
	height: 2.3cm;
	width: 11%;
!important;
}

.filledrow_heading_default
{	
    background: #D9EDF7!important;

}

.filledrow_heading
{	
    background: #f0f8ff!important;
    color: #000;
}

tr.filledrow:hover
{	
    background: #FFF0F0!important;
    color: #000;
}

tr.filledrow:hover > .filledrow1
{	
    color: #fff;
}

.anotatext
{
	padding:10px 10px 10px 0px;
}
.table-responsive {
	overflow-x: auto;
}
i.fa {
	font-size: 140%;
}
.topbuttons {
	margin-left: 30px;
}
.bgwhite {
	background: #F8F8F8;
	border-color: #DDDDDD;
}
.whitetext {
	color:#ffffff!important;
}
.pagingfield {
	width: 58px;
	text-align: center;
}
.btnbackword {
	margin-left: 15px;
	margin-right: 10px;
}
.btnforward {
	margin-left: 10px;
	margin-right: 15px;
}
ul.currntdrug {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.currntdrug li {
	float: left;
}
ul.currntdrug li#dclass {
	
	padding: 0px 70px 0px 30px;
	text-align:center!important;
}
ul.currntdrug li.drug_label {
	font-weight:bold;	
}

ul.currntdrug li#dbrand {
	padding: 0px 10px;
	margin: 0px 15px;
	border-bottom:solid 1px #333;
	text-align:center!important;
}
ul.currntdrug li#dstrength {
	padding: 0px 70px 0px 30px;
	text-align:center!important;
	font-weight:bold;
}
ul.currntdrug li#dform {
	padding: 0px 70px 0px 30px;
	text-align:center!important;
	font-weight:bold;
}
.currentdrugtd {
/*background-color:#438EB9;*/
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
	border: none;
}
.tablebg
{
	background-color:#F5F5F5;
	padding:5px 5px 5px 5px;
}

.fbl
{
	//font-weight:bold;
}
.lightgre
{
	color:#C1C1C1!important;
	
}



ul.topeditentrybuttons
{
	list-style:none;
	padding:0;
	margin:0;
}
ul.topeditentrybuttons li{
	float:left;
	padding-left:5px;
}

ul.currntdateip
{
	list-style:none;
	padding:0;
	margin:0;
	text-align: center;
}
ul.currntdateip li
{
	float:left;
	margin-left:10px;
}
.dateip
{
	font-weight:bold;
	
}
.pointer
{
	cursor:pointer;
}
.marginright
{
	margin-right:4px;
}

ul.rowul
{
	list-style:none;
	padding:0;
	margin:0;
}
ul.rowul li
{
	float:left;
	margin-left:10px;
}
.mtop
{
	margin-top:70px;
}
#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}


/*ovre write the well */
.well2 {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  /* background-color: #f5f5f5; */
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.relpos {
	position:absolute;
	top:5px;
	right:20px;
	background-color:#478fca !important ;
}
.blue
{
	color:#478fca !important ;
}


.well2 blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well2-lg {
  padding: 24px;
  border-radius: 6px;
}
.well2-sm {
  padding: 9px;
  border-radius: 3px;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* --- Kod Styles ---- */
.table th, .table td {
    border-top: none !important;
    border-left: none !important;
}
.fixed-table-container {
    border:0px;
}
.table th {
    border-bottom: none !important;
}

.medicine_category {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-top: 10px;
  margin-bottom:0px;
  padding:10px;
  font-weight:bold;
  background-color:#438EB9; 
  color:#FFF
}

.medicine-well {
  padding: 0 15px 15px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  min-height: 70px;
}
.medicine-well:hover {
	background:#F5F5F5;	
}

.druglist_link a{
	text-decoration: none; 
	color:#000;
}

.druglist_link a:hover{
	text-decoration: none; 
}

label {
	font-size:13px;
	font-weight:600;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	font-size:13px;	
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn{
	font-size:13px;	
}

.dataTable > thead > tr > th[class*="sorting_"]{
	color:#555;	
}
.dataTable > thead > tr > th.sorting_asc::after{
	color:#555;	
}
.dataTable > thead > tr > th.sorting_desc::after{
	color:#555;	
}

.input-daterange input{
	text-align:left;	
}

.toggle_witness_login_box{
	cursor: pointer;	
}

.alert{
	font-size:13px;	
}
.cursor_pointer {
	cursor:pointer;	
}

.overlay {
	background-color: white;
	filter:alpha(opacity=50); /* IE */
	opacity: 0.5; /* Safari, Opera */
	-moz-opacity:0.50; /* FireFox */
	z-index: 20;
	height: 100%;
	width: 100%;
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	top: 0px;
	left: 0px;
	font-size:25px;
}

.register_pagination_arrows{
	margin:7px 5px;	
}

.register_pagination_fld{
	margin:5px 5px;	
}
.register_pagination_fld input{
	width:50px; 
	text-align:center;
}

.disable_page_link, .disable_page_link:hover, .disable_page_link:active{
	color:#CCC;	
	cursor:not-allowed;
}

.register_reference_label {
	margin-top: 20px;
	text-align:center;
}

.week_number_sch {
	width:5%; 
	margin-left:11px;
}
.week_number_sch_cell {
	width:13%; 
	padding-left:0px;
}
.cell_p{
	padding:3px;
}

#rx_prev_day,#rx_next_day{
	padding:6px 6px; 
	border: solid 0px #333;
}

#rx_prev_day:hover,#rx_next_day:hover{
	background-color:#EDEDED;
}

#date_link {
	padding:8px 8px;	
}

.register_nav {
	padding: 0 3px 10px;
}

.pm-title{
	display: block;
	background: #438EB9;
	padding: 10px 0 12px 15px;
	border-bottom: 1px solid #438EB9;
	border-radius: 5px 5px 0 0;
	min-height: 25px;
	color: white;
	font-size: 16px;
	font-weight: bold;	
}

/* START: PADDING CLASSES */
.padding-10 {
	padding: 10px;
}
.padding-bottom-10 {
	padding-bottom:10px;
}
.padding-top-10 {
	padding-top:10px;
}
.padding-left-10 {
	padding-left:10px;
}
.padding-right-10 {
	padding-right:10px;
}

.padding-bottom-15 {
	padding-bottom:15px;
}
.padding-top-15 {
	padding-top:15px;
}

.padding-bottom-20 {
	padding-bottom:20px;
}
.padding-top-20 {
	padding-top:20px;
}

/* 
	END: PADDING CLASSES 
	START: OFFSET CLASSES
	
	5 Offset
*/

.offset-bottom-5 {
	margin-bottom:5px;
}
.offset-top-5 {
	margin-top:5px;
}
.offset-left-5 {
	margin-left:5px;
}
.offset-right-5 {
	margin-right:5px;
}
/* 10 Offset */

.offset-bottom-10 {
	margin-bottom:10px;
}
.offset-top-10 {
	margin-top:10px;
}
.offset-left-10 {
	margin-left:10px;
}
.offset-right-10 {
	margin-right:10px;
}

/*15 Offset */
.offset-bottom-15 {
	margin-bottom:15px;
}
.offset-top-15 {
	margin-top:15px;
}
.offset-left-15 {
	margin-left:15px;
}
.offset-right-15 {
	margin-right:15px;
}

/*20 Offset */
.offset-bottom-20 {
	margin-bottom:20px;
}
.offset-top-20 {
	margin-top:20px;
}
.offset-left-20 {
	margin-left:20px;
}
.offset-right-20 {
	margin-right:20px;
}

.print-space{
	margin-bottom:30px;
}

#opc_button {
    background-color: #5CB85C;
    padding: 7px;
    color: #fff;
}
#opc_input{
	
	width: 80%;
    height: 34px;
	
}
/* END: OFFSET CLASSES*/