
@media(max-width: 1080px){

   .navbar-brand img {
    margin-top: 7px;
    max-width: 75%;
    vertical-align: middle;
} 
    
    
    .banner_text h2 span{font-size: 16px;}
    .banner_text h2 {
        color: #ffc022;
        font-size: 22px;
        margin: 0 0 8px;
    }
    
    .banner_text h3{font-size: 16px; margin: 0px 0 14px; }
    
    .static_banner ul li {
        font-size: 14px;
        margin: 0 0 4px;
    }
    
    .buy_now {
        font-size: 13px;
        padding: 7px 21px 6px;
    }
    .learn_more{
        font-size: 13px;
        padding: 7px 21px 6px;
    }
    
    .banner_text{padding: 6px 0 0 0px;}
    .static_banner img {
        min-height: 337px;
        width: 100%;
    }
    .one_price_outer{margin: -20% 0 0 58px;float: right;}
    
    
    
}


@media(max-width: 767px){
	
    .page_main_text h2{font-size: 22px;}
    
    .main_block_text {
    font-size: 22px;
    margin: 25px 0 21px;
    }
    
    .navbar-brand img {
        margin-top: 0;
        max-width: 65%;
        vertical-align: middle;
    }
    

    .navbar-default .navbar-nav > li > a .fa{margin: 0 8px 0 0px; }
    
    .banner_text h2 span{font-size: 16px;}
    .banner_text h2 {
        color: #ffc022;
        font-size: 22px;
        margin: 0 0 8px;
    }
    
    .banner_text h3{font-size: 16px; margin: 0px 0 14px; }
    
    .static_banner ul li {
        font-size: 14px;
        margin: 0 0 4px;
    }
    
    .buy_now {
        font-size: 13px;
        padding: 7px 21px 6px;
    }
    .learn_more{
        font-size: 13px;
        padding: 7px 21px 6px;
    }
    
    .banner_text{padding: 6px 0 0 0px;}
    .static_banner img {
        min-height: 337px;
        width: 100%;
    }
    .one_price_outer{margin: -173px 0 0 58px;float: right;}
    
    
    
    
    
    
    
    
    
}






@media(max-width: 640px){

    
    .banner_text h2 span {
        display: inline-block;
        font-size: 13px;
        margin: 3px 0 5px;
    }
    
    .banner_text h2 {
    color: #ffc022;
    font-size: 11px;
    margin: 0 0 8px;
        display: none;
}
    .banner_text h3 {
    font-size: 12px;
    margin: 0 0 7px;
}
    .one_price_outer{background:url(../images/free-tag-png-17_03.png) 0px 0px no-repeat;}
    .one_price_outer h5{font-size: 18px;}
    .price_yellow {
        color: #fff;
        font-size: 20px;
    }
    .vat {
        color: #43ae40;
        font-size: 20px;
    }
    
    .buy_now {
        font-size: 12px;
        padding: 4px 17px;
    }
    
    .learn_more {
        font-size: 12px;
        padding: 4px 16px;
    }
    .one_price_outer {
        float: right;
        margin: -84px -40px 0 98px;
    }
    
    .static_banner ul li {
        font-size: 8px;
        margin: 0;
    }

    .page_main_text h2{margin: 19px 0 20px;font-size: 16px;}
    .main_block_text {
        font-size: 16px;
        margin: 21px 0 20px;
     }
    .section_cols_left h3 {
        color: #232222;
        float: left;
        font-size: 18px;
        font-weight: 600;
        margin: 16px 0 9px;
        padding: 0;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
    }
    
    .section_cols_left p {
        color: #232222;
        float: left;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        margin: 0 0 12px;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .section_cols_left a{padding-right: 6px 20px 6px; font-size: font-size;}
    
    .section_cols_left {
        background-color: #fff;
        border-radius: 6px;
        float: left;
        margin: 0 0 22px;
        padding: 12px 0;
        text-align: center;
        width: 100%;
    }
    
    .mobilr_section_top h3 {
    color: #ffc022;
        font-size: 22px;
    }
    
.mobilr_section_top p {
    color: #fff;
    float: left;
    font-size: 12px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
}
