#wrap{
	border:solid #CCCCCC 1px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:3px;
	margin-top:3px;
}

img#refresh{
	float:right;
	margin-left:2px;
	cursor:pointer;
}



