 @media(max-width: 1080px) {
 .banner_text h2 {
line-height: normal;
}
 .navbar-brand img {
 margin-top: 7px;
 max-width: 75%;
 vertical-align: middle;
}
 .banner_text h2 span {
font-size: 16px;
}
 .banner_text h2 {
 color: #ffc022;
 font-size: 22px;
 margin: 0 0 8px;
}
 .banner_text h3 {
font-size: 16px;
margin: 0px 0 14px;
}
 .static_banner ul li {
 font-size: 14px;
 margin: 0 0 4px;
}
 .buy_now {
 font-size: 13px;
 padding: 7px 21px 6px;
}
 .learn_more {
 font-size: 13px;
 padding: 7px 21px 6px;
}
 .banner_text {
padding: 6px 0 0 0px;
}
 .static_banner img {
 min-height: 337px;
 width: 100%;
}
 .one_price_outer {
margin: -20% 0 0 58px;
float: right;
}
}
 @media(max-width: 767px) {
 .banner_text h2 {
line-height: normal;
}
 .page_main_text h2 {
font-size: 22px;
}
 .main_block_text {
 font-size: 22px;
 margin: 25px 0 21px;
}
 .navbar-brand img {
 margin-top: 0;
 max-width: 65%;
 vertical-align: middle;
}
 .navbar-default .navbar-nav > li > a .fa {
margin: 0 8px 0 0px;
}
 .banner_text h2 span {
font-size: 16px;
}
 .banner_text h2 {
 color: #ffc022;
 font-size: 22px;
 margin: 0 0 8px;
}
 .banner_text h3 {
font-size: 16px;
margin: 0px 0 14px;
}
 .static_banner ul li {
 font-size: 14px;
 margin: 0 0 4px;
}
 .buy_now {
 font-size: 13px;
 padding: 7px 21px 6px;
}
 .learn_more {
 font-size: 13px;
 padding: 7px 21px 6px;
}
 .banner_text {
padding: 6px 0 0 0px;
}
 .static_banner img {
 min-height: 337px;
 width: 100%;
}
 .one_price_outer {
margin: -173px 0 0 58px;
float: right;
}
}
 @media(max-width: 640px) {
 .banner_text .col-xs-12 {
padding: 0px;
}
 .banner_text h2 span {
 display: inline-block;
 font-size: 14px;
 line-height: normal;
 margin: 0;
}
 .banner_text h2 {
 color: #ffc022;
 font-size: 14px;
 margin: 15px 0 8px;
 line-height: normal;
}
 .banner_text h3 {
 font-size: 12px;
 margin: 0 0 7px;
}
 .one_price_outer {
background:url(../images/free-tag-png-17_03.png) 0px 0px no-repeat;
}
 .one_price_outer h5 {
font-size: 18px;
}
 .price_yellow {
 color: #fff;
 font-size: 20px;
}
 .vat {
 color: #43ae40;
 font-size: 20px;
}
 .buy_now {
 font-size: 12px;
 padding: 4px 17px;
}
 .learn_more {
 font-size: 12px;
 padding: 4px 16px;
}
 .one_price_outer {
 background-size: 100% auto;
 float: right;
 height: 135px;
 margin: -132px 0 0;
 width: 135px;
}
 .static_banner ul li {
 font-size: 10px;
 margin: 0 0 5px;
}
 .page_main_text h2 {
margin: 19px 0 20px;
font-size: 16px;
}
 .main_block_text {
 font-size: 16px;
 margin: 21px 0 20px;
}
 .section_cols_left h3 {
 color: #232222;
 float: left;
 font-size: 18px;
 font-weight: 600;
 margin: 16px 0 9px;
 padding: 0;
 text-align: center;
 text-transform: capitalize;
 width: 100%;
}
 .section_cols_left p {
 color: #232222;
 float: left;
 font-size: 16px;
 font-weight: 300;
 line-height: normal;
 margin: 0 0 12px;
 padding: 0;
 text-align: center;
 width: 100%;
}
 .section_cols_left a {
padding-right: 6px 20px 6px;
font-size: font-size;
}
 .section_cols_left {
 background-color: #fff;
 border-radius: 6px;
 float: left;
 margin: 0 0 22px;
 padding: 12px 0;
 text-align: center;
 width: 100%;
}
 .mobilr_section_top h3 {
 color: #ffc022;
 font-size: 22px;
}
 .mobilr_section_top p {
 color: #fff;
 float: left;
 font-size: 12px;
}
 .navbar-brand {
padding: 14px;
}
 .mobilr_section_top h3 {
 /*color: #ffc022;*/
 color: #fff;
 font-size: 16px;
 line-height: normal;
}
 .stripe-4 h2 {
 color: #fff;
 font-size: 18px;
 margin: 14px 0 6px;
 padding: 0 0 0 14px;
}
 .breadcrumbs > li {
 color: #fff;
 display: inline-block;
 font-size: 14px;
 padding: 3px 14px 12px 15px;
 position: relative;
}
 .pt-100 {
 padding-top: 0;
}
 .half-field {
width: 100% !important;
}
 .half-field-last {
width: 100% !important;
}
 #contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="url"], #contact-form input[type="password"], #contact-form input[type="search"], #contact-form textarea {
margin-bottom: 10px;
}
 .custm_contact_button a {
 font-size: 13px;
 font-weight: 400 !important;
 padding: 7px 9px;
}
 .footer_top h4 {
font-size: 16px;
}
 .footer_top p {
font-size: 12px;
}
 b, strong {
 font-weight: 600;
}
 .footerbottom {
height: auto;
}
 .not_a_member {
 color: #222;
 float: left;
 font-size: 11px;
 margin: -18px 0 14px;
 padding: 0;
 text-align: center;
 width: 100%;
}
 .nav-tabs > li > a {
 background: #fcfcfc none repeat scroll 0 0;
 border: 1px solid #ccc;
 border-radius: 0;
 font-size: 12px;
 font-weight: 600;
 line-height: 19px;
 margin: 0 -1px 2px 0;
 padding: 6px 8px !important;
 text-transform: uppercase;
}
 .footerbottom p {
font-size: 12px;
}
 .header-text.hidden-xs {
display: block !important;
}
 .padd_right_0 {
 padding: 0;
}
 .order_suumry {
 margin-top: 0;
 padding-bottom: 0;
}
 .nav-tabs > li.active > a {
margin-bottom: 2px;
}
}
 @media only screen and (min-width:320px) and (max-width:480px) {
 .header-text.hidden-xs {
display: block;
}
 .banner_text h2 {
 color: #ffc022;
 font-size: 12px;
 line-height: normal;
 margin: 0 0 8px;
}
 .static_banner ul li {
 font-size: 9px;
 margin: 0;
}
 .static_banner {
 max-height: 395px;
 position: relative;
}
 .static_banner img {
 min-height: 395px;
 width: 100%;
}
.one_price_outer {
 background-size: 100% auto;
 float: left;
 height: 106px;
 margin: 20px 0 0 30%;
 padding: 0;
 width: 106px;
}
 .one_price_outer h5 {
 font-size: 14px;
 padding: 25px 0 0;
 transform: rotate(350deg);
}
 .price_yellow {
 color: #fff;
 font-size: 16px;
}
.vat {
 color: #43ae40;
 font-size: 16px;
}
}
.section_cols_left .btn {
	margin-bottom: 15px;
}
.navbar-default .navbar-brand {
	max-width: 85%;
}
